.MuiGrid-root.portfolio-container {
  max-width: 1200px;
  margin: auto;
}

.portfolio-container .MuiGrid-item {
  padding-left: 0 !important;
}

.MuiGrid-root.row-center {
  display: flex;
  justify-content: center;
}
