.portfolio-container.MuiGrid-root {
  max-width: 1200px;
  margin: auto;
}

.portfolio-container .MuiGrid-item {
  padding-left: 0 !important;
}

.MuiContainer-root.center-container {
  display: flex;
  justify-content: center;
}
