.table-container {
  height: 400px;
  width: 100%;
}

.table-container .MuiDataGrid-cell:focus {
  outline: none;
}

.table-container .MuiDataGrid-columnHeader:focus {
  outline: none;
}

.table-container .MuiDataGrid-columnHeader:focus-within {
  outline: none;
}