.table-container {
  height: 400px;
  width: 100%;
}

.dividend-container {
  width: 50%;
}

.MuiDataGrid-root {
  color: white;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-columnHeader:focus {
  outline: none !important;
}

.MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}
